:root{
--primary-text-color:#212121;
--primary-background-color:#E5E5E5;
--accent-color:#2196F3;
--background-color:#2f303a;
--p-color:#757575;
--button-logo-color:#FFFFFF;
}


body {
    font-family: 'Roboto';
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}


/* Portfolio */

button {
 cursor: pointer;   
}

.buttons button {
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;
}

.buttons button:hover,
.buttons button:focus {
    color: var(--button-logo-color);
    background-color: var(--accent-color);
}

.portfolio-list h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.portfolio-list p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color:var(--p-color);
}


/* Main page */


.button-order{
    background-color:var(--accent-color) ;
    color:var(--button-logo-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
}

.hero{
    background:var(--background-color) ;
}

.main-text{
    color: var(--button-logo-color);
    font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
     }

.details h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.details p{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color:var(--p-color);
}

.whatwedo, .team h2 {
font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
}

.team h3{
font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
}

.team p{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color:var(--p-color);
}


/* Headr and footer */

.footer{
background:var(--background-color);
}

.nav-link, .logo-studio-header {color: var(--primary-text-color);}
.logo-studio-footer{color: var(--button-logo-color);}
.address-header{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--p-color);
}
.address-footer {
font-style: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.address-footer-city{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--button-logo-color);
}

.site-nav .nav-link.current {
    color: var(--accent-color);
}

.logo-link {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}


.nav-link:hover,
.nav-link:focus, 
.address-footer:focus,
.address-footer-city:focus,
.address-header:hover,
.address-header:focus,
.logo-link:hover,
.logo-link:focus
{color:var(--accent-color)}



